.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
}

.search-box .button { 
  margin-left: 15px;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.show {
  display: block;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background: transparent;
  border: none;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
  overflow: hidden;
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Modal Header */
.modal-header {
  display: -webkit-box; 
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
  background-color: #f1f1f1;
}

/* Modal Header Title */
.modal-title {
  margin: 0;
  line-height: 1.5;
}

/* Modal Body */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  overflow-x: auto;
  height: 500px;
  padding-bottom: 80px;
}

/* Modal Footer */
.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
}

/* Modal Content */
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 680px;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d3d3d3;
  border-radius: .3rem;
  outline: 0;
  margin: auto;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d3d3d3;
  border-radius: .75rem;
}

.button {
  display: inline-block;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle; 
  border: none;
  border-radius: 0.25rem;
  padding: .5rem 1rem;
  font-size: 0.875rem; 
  line-height: 1.5;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color:#ED7767;
  box-shadow: none;  
  cursor: pointer;
}

.bootstrap button {
  border-radius: 0.25rem;
}



/* Speaker Modal List card css */

.speakers-list{
  display: flex;
  flex-wrap:wrap;
}
.speakers-item{   
  display:block;  
  width: 150px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 200px;
  padding-top: 10rem;
  overflow: hidden;
  cursor: pointer;
}
.speakers-item:nth-child(4n){
  margin-right: 0;
}

.speakers-item .speakers-media{ 
  position: absolute;
  right: -1.8rem;
  top: -1.8rem;
  z-index: 1; 
  overflow: hidden;
  border-radius: 20rem 0 20rem 20rem; 
}

.speakers-item .speakers-media:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 11;
  border: 1.2rem solid #ED7767;
  top: 0;
  right: 0;
  border-radius: 20rem 0 20rem 20rem;
}


/* Speaker card css */
.speaker-card{     
  width: 115px; 
  margin-bottom: 15px;
  height: 200px;
  padding-bottom: 15rem;
  overflow: hidden;
  border-radius: 8px;
} 
 
/* .speaker-card .speaker-img{ 
  position: absolute;
  right: -1.2rem;
  top: -1.2rem;
  z-index: 1; 
  overflow: hidden;
  border-radius: 20rem 0 20rem 20rem; 
}

.speaker-card .speaker-img:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 11;
  border: 1.2rem solid #ED7767;
  top: 0;
  right: 0;
  border-radius: 20rem 0 20rem 20rem;
} */

.speaker-card .speaker-img img {
  width: 100% !important;
  height: auto !important;
  padding: 5px;
  border-radius: 8px;
}


/* Modal Booth List card css */
.booths-list{
  display: flex;
  flex-wrap:wrap;
}

.booth-item{     
  width: 150px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 150px; 
  border: 1px solid #d3d3d3;
  border-radius: .75rem;
  padding: 1rem;
  cursor: pointer;
}

.booth-item:nth-child(4n){
  margin-right: 0;
}

.booth-item .booth-media{ 
  border-radius: .8rem; 
  border: 1px solid #f1f1f1;
  height: 85px;
  width: 85px;
  margin: auto;
  display: flex;
  background-color: #fff;
}

/* Booth card css */
.booth-card{     
  width: 100%; 
  margin-bottom: 15px;
  height: 160px;
  padding: 1rem; 
  background-color: #fff;
  border-radius: 8px;
} 
 
.booth-card-body{
  text-align: center;
}
.booth-img{  
  border-radius: .8rem; 
  border: 1px solid #f1f1f1;
  height: 85px;
  width: 85px;
  margin: auto;
  display: flex;
  background-color: #fff;
}

/* Modal Session List card css */
.session-list{
  display: flex;
  flex-wrap:wrap;
}
.session-item{     
  width: 150px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 150px; 
  border: 1px solid #d3d3d3;
  border-radius: .75rem;
  padding: 1rem;
  cursor: pointer;
}

.session-item:nth-child(4n){
  margin-right: 0;
}

.session-item .session-media{ 
  border-radius: .8rem; 
  border: 1px solid #f1f1f1;
  height: 85px;
  width: 85px;
  margin: auto;
  display: flex;
  background-color: #fff;
}

/* session card css */
.session-card{     
  width: 100%; 
  margin-bottom: 15px;
  height: auto;
  padding: 14px; 
  background-color: #fff;
  border-radius: 8px;
}   
.session-date{
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.session-title{ 
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.session-description{
  font-size: 12px;
  font-weight: 400;
}
.booth-speaker-data{
  display: flex;
  justify-content: space-between;
  margin-top:10px;
}
.session-modal-desc{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



/* Logo card css */
 
.logos-list{
  display: flex;
  flex-wrap:wrap;
}
.logo-item{     
  width: 150px;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 150px; 
  border: 1px solid #d3d3d3;
  border-radius: .75rem;
  padding: 1rem;
  cursor: pointer;
}
.logo-item:nth-child(4n){
  margin-right: 0;
}

.logo-card{     
  width: 100%; 
  margin-bottom: 15px;
  height: auto;
  padding: 14px; 
  background-color: #fff;
  border-radius: 8px;
}      

.logo-card img{     
  width: 100%; 
  height: auto;
  max-height: 80px;
}      





/* Logo card css */

.banners-list{
  display: flex;
  flex-wrap:wrap;
}
.banner-item{     
  width: 100%;
  margin-right: 15px;
  margin-bottom: 15px;
  height: 210px; 
  border: 1px solid #d3d3d3;
  border-radius: .75rem; 
  cursor: pointer;
  overflow: hidden;
}
.banner-item:nth-child(4n){
  margin-right: 0;
}
.banner-card{     
  width: 100%; 
  margin-bottom: 15px;
  height: auto; 
  background-color: #fff;
  overflow: hidden;
  line-height:0;
}      
.banner-card img{     
  width: 100%; 
  height: auto;
  max-height: 100%;
  object-fit: cover;
}      
