.button {
  display: inline-flex;
  font-weight: 700;
  color: #ffffff;
  align-items: center;
  justify-content: center; 
  border: none;
  border-radius: 0.25rem;
  padding: .5rem 1rem;
  font-size: 0.875rem;  
  background: #ED7767;
  box-shadow: none; 
  cursor: pointer;
}

